/* 폰트 임포트 */
@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

/* body 스타일 지정 */
body {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    background-color: #1c1d1f;
    font-family: "Escoredream";
}

/* 글 목록 스타일 지정 */
.contents {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

/* 글 입력창 스타일 지정 */
textarea {
    min-width: 50%;
    min-height: 200px;
}

/* 글 목록 스타일 지정 */
ul {
    list-style-type: none;
    padding-left: 0;
}

/* 대문 스타일 지정 */
label {
    display: block;
    text-align: center;
    font-size: 70px;
}

a {
    color: aqua;
}