.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #CCCCCC; /* 배경색 추가 */
    font-family: "Do Hyeon", sans-serif;
}

.contents {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

textarea {
    min-width: 50%;
    min-height: 200px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    display: block;
    text-align: center;
}
