<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="all">
    <title>GHT - 홈</title>
</head>
<body>
    <h1>
        <label>GHT 익명 커뮤니티에 오신 것을 환영합니다!</label>
    </h1>
    <div class='contents'>
        <ul>
            {% for post in posts %}
                <li>
                    <a href='/{{ post["id"] }}'><strong>{{ post['title'] }}</strong> <small><small>{{ post['created_at'] }}</small></small></a>
                </li>
            {% endfor %}
        </ul>
        <hr>
        <button onclick="location.href='/write'">글 쓰기</button>

    </div>
    <script src="../static/script.js"></script>
</body>
</html>