<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/style.css">
    <title>
        TVS - Main
    </title>
</head>
<body>
    <h2>
        <label>
            TVS 익명 커뮤니티에 오신 것을 환영합니다!
        </label>
    </h2>
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{ post['title'] }}</strong> <small>{{ post['created_at'] }}</small>
            </li>
        {% endfor %}
    </ul>

    <hr>

    <input type="button" value="글 쓰기" onclick="location.href='post'" />
</body>
</html>