<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/post" method="post">
        <input type="text" id="username" name="username" required />
        <input type="text" id="title" name="title" required />
        <textarea name="content" id="content" required></textarea>
        <input type="submit" value="업로드">
    </form>
    <input type="button" value="뒤로가기" onclick="location.href='/'" />
</body>
</html>