<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="all" />
    <title>GHT - {{ posts.title }}</title>
</head>
<body>
    <h1>
        {{ posts.title }}
    </h1>
    <p>
        작성자: {{ posts.username }}<br>
        <small>작성일: {{ post.created_at }}</small>
    </p>
    <p>
        {{ post.content }}
    </p>
    <hr>
    <div class="contents">
        <input type="button" value="글 쓰기" onclick="location.href='/write'">
        <input type="button" value="뒤로가기" onclick="location.href='/'">
    </div>
</body>
</html>