<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css" media="all">
    <title>
        GHT - 글 쓰기
    </title>
</head>
<body>
    <div class="contents">
        <div id="password_error", style="display: none;">password_error</div>
        <form id="form" action="/write" method="post">
        <input type="text" id="username" name="username" placeholder="닉네임" /><br>
        <input type="text" id="title" name="title" placeholder="제목" required /><br>
        <textarea name="content" id="content" placeholder="여기에 글을 쓰세요." required></textarea><br>
        <input type="hidden" id="admin_password" name="admin_password" />
        <hr>
        <input type="submit" value="업로드">
        <input type="button" value="취소" onclick="location.href='/'" />
    </form>
    <script src="../static/script.js"></script>
    </div>
</body>
</html>